<a href="https://colab.research.google.com/github/kiboma2021/5-Week-Data-Science-Bootcamp/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
this_series=[12,23,1,34,12,"test"]
pd.Series(this_series)

0      12
1      23
2       1
3      34
4      12
5    test
dtype: object

In [ ]:
# You can also create your own series using a dictionary

import pandas as pd

dic_series={'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9}
pd.Series(dic_series)

one      1
two      2
three    3
four     4
five     5
six      6
seven    7
eight    8
nine     9
dtype: int64

In [ ]:
#CREATING A DATA FRAME
import pandas as pd

data=[[1000,"Steve",86.5],
      [1001,"Brian",76.6],
      [1002,"Stacy",56.5]  
      ]
pd.DataFrame(data,columns=['Reg.No','Name','Marks(%)'],index=[1,2,3])

   Reg.No   Name  Marks(%)
1    1000  Steve      86.5
2    1001  Brian      76.6
3    1002  Stacy      56.5

In [ ]:
#You can also create dataframe using dictionary
import pandas as pd

data={'Reg.No':[1000,1001,1002],
      'Name':['Steve','Brian','Stacy'],
      'Marks(%)':[86.5,76.6,56.5]}

pd.DataFrame(data)

   Reg.No   Name  Marks(%)
0    1000  Steve      86.5
1    1001  Brian      76.6
2    1002  Stacy      56.5

In [ ]:
#Importing a CSV file and writing to a CSV

import pandas as pd
a=pd.read_csv("C:/Users/bomayio/Downloads/Debits (6).csv")
a.to_csv("C:/Users/bomayio/Downloads/Test.csv") #creating a new file
a.shape # to know the number of rows and columns
a.head() #see the first 5 observations
a.tail() #see the last 5 observations
a.head(2) # display first two observations
a.dtypes # know data types associated to each row and column
a.info() #returns a concise summary about the dataframe

In [ ]:
import pandas as pd

sma_data=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

#What is the shape of dataframe
sma_data.shape

#How many entries are in the dataframe
#Get data type of different columns
sma_data.info()

#check first 5 items

sma_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
 9   crime_rate      99 non-null     float64
dtypes: float64(5), int64(5)
memory usage: 7.9 KB

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [ ]:
#Selection of data in dataframe can be done using
#1) loc - label based selection
#2) iloc - index based selection

import pandas as pd

sma_data=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

sma_data.head()
sma_data.iloc[0,0] #first row first column
sma_data.iloc[0:5,5] #helps select first 5 rows (0:4) and fifth column
sma_data.iloc[:,:] # This will return all rows and columns

sma_data.iloc[[1,3,65,34],1] # List of rows to diplay and column

sma_data.iloc[-5:,0:2]  #selects the last five columns and firt two columns

    land_area  percent_city
94       1511          38.7
95       1543          39.6
96       1011          37.8
97        813          13.4
98        654          28.8

In [ ]:
#Label based selection
import pandas as pd
sma_data=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

sma_data.loc[0:5,['physicians','hospital_beds','land_area']]

   physicians  hospital_beds  land_area
0       25627          69678       1384
1       13326          43292       3719
2        9724          33731       3553
3        6402          24167       3916
4        8502          16751       2480
5        7340          16941       2815

In [ ]:
import pandas as pd
sma_data=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

sma_data.land_area #selecting a column
sma_data['land_area'] # dictioary style of selecting a column
sma_data[['land_area','hospital_beds']]

    land_area  hospital_beds
0        1384          69678
1        3719          43292
2        3553          33731
3        3916          24167
4        2480          16751
..        ...            ...
94       1511           1093
95       1543            481
96       1011            964
97        813           4355
98        654           1296

[99 rows x 2 columns]

In [ ]:
#Connditional selection
import pandas as pd
sma_data=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

sma_data.land_area==2480 # Returns True if land area is 280

0     False
1     False
2     False
3     False
4      True
      ...
94    False
95    False
96    False
97    False
98    False
Name: land_area, Length: 99, dtype: bool

In [ ]:
#Connditional selection 2
import pandas as pd
sma_data=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

sma_data[sma_data.land_area==2480] # Get all the column of the rows that satisfy the condition

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [ ]:
#Assigning columns
import pandas as pd
sma_data=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

sma_data.land_area=2500 # This will replace all land area to 2500
sma_data.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
0,2500,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,2500,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,2500,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,2500,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2500,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [ ]:
import pandas as pd

sma_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

sma_data.iloc[10]

sma_data['physicians']

0     25627
1     13326
2      9724
3      6402
4      8502
      ...
94      348
95      159
96      264
97      371
98      140
Name: physicians, Length: 99, dtype: int64

In [ ]:
import pandas as pd

sma_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

sma_data.loc[[1,3,5,7,9,13],['land_area', 'work_force', 'income', 'region', 'crime_rate']]

    land_area  work_force  income  region  crime_rate
1        3719      3305.9   54542       2       56.03
3        3916      1966.7   32906       2       67.38
5        2815      1541.9   25663       3       58.48
7        6794      1272.7   18221       3       64.88
9        4647      1032.2   14542       2       55.30
13        782       915.2   12591       4       63.20

In [ ]:

#Select the observations for which the region is equal to 2. 
#Assign the result to a variable sample_data2. 
#How many observations are there in the dataframe sample_data2?


import pandas as pd

sma_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

sample_data2=sma_data[sma_data.region==2]
sample_data2.shape

(25, 10)

In [4]:
#SUMMARY FUNCTIOSNS
#describe() method by default returns the summary about the numerical columns only.

import pandas as pd

sma_data=pd.read_csv("https://raw.githubusercontent.com/kiboma2021/5-Week-Data-Science-Bootcamp/main/exam_scores.csv")
sma_data.describe()

,Student ID No.,Assignment 1,Assignment 2,Assignment 3,Midterm Exam,Final Exam
count,26.000000,24.000000,25.000000,25.000000,26.000000,26.000000
mean,6268.615385,16.625000,23.760000,33.040000,72.807692,125.576923
std,2838.111289,3.572997,5.782733,6.560488,19.638776,52.669667
min,1682.000000,9.000000,10.000000,20.000000,35.000000,29.000000
25%,3963.250000,15.000000,20.000000,29.000000,57.000000,101.250000
50%,6921.500000,17.000000,25.000000,34.000000,72.000000,134.500000
75%,8957.000000,20.000000,29.000000,40.000000,90.250000,159.000000
max,9912.000000,20.000000,30.000000,40.000000,100.000000,200.000000

In [9]:
#If we want to get summary about categorical column separately then we can use one parameter 'include'.

import pandas as pd

exam_scores=pd.read_csv("https://raw.githubusercontent.com/kiboma2021/5-Week-Data-Science-Bootcamp/main/exam_scores.csv")
exam_scores.describe(include = 'object')

              Student Name Honors
count                   26     26
unique                  26      2
top     Kingsley, Roderick      R
freq                     1     21

In [10]:
#Also, we can get the summary about numerical and categorical column together using the same parameter 'include'.

import pandas as pd

exam_scores=pd.read_csv("https://raw.githubusercontent.com/kiboma2021/5-Week-Data-Science-Bootcamp/main/exam_scores.csv")
exam_scores.describe(include = 'all')

,Student Name,Student ID No.,Assignment 1,Assignment 2,Assignment 3,Midterm Exam,Final Exam,Honors
count,26,26.000000,24.000000,25.000000,25.000000,26.000000,26.000000,26
unique,26,NaN,NaN,NaN,NaN,NaN,NaN,2
top,"Kingsley, Roderick",NaN,NaN,NaN,NaN,NaN,NaN,R
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,21
mean,NaN,6268.615385,16.625000,23.760000,33.040000,72.807692,125.576923,NaN
std,NaN,2838.111289,3.572997,5.782733,6.560488,19.638776,52.669667,NaN
min,NaN,1682.000000,9.000000,10.000000,20.000000,35.000000,29.000000,NaN
25%,NaN,3963.250000,15.000000,20.000000,29.000000,57.000000,101.250000,NaN
50%,NaN,6921.500000,17.000000,25.000000,34.000000,72.000000,134.500000,NaN
75%,NaN,8957.000000,20.000000,29.000000,40.000000,90.250000,159.000000,NaN
max,NaN,9912.000000,20.000000,30.000000,40.000000,100.000000,200.000000,NaN