<a href="https://colab.research.google.com/github/kiboma2021/5-Week-Data-Science-Bootcamp/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
this_series=[12,23,1,34,12,"test"]
pd.Series(this_series)

0      12
1      23
2       1
3      34
4      12
5    test
dtype: object

In [ ]:
# You can also create your own series using a dictionary

import pandas as pd

dic_series={'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9}
pd.Series(dic_series)

one      1
two      2
three    3
four     4
five     5
six      6
seven    7
eight    8
nine     9
dtype: int64

In [ ]:
#CREATING A DATA FRAME
import pandas as pd

data=[[1000,"Steve",86.5],
      [1001,"Brian",76.6],
      [1002,"Stacy",56.5]  
      ]
pd.DataFrame(data,columns=['Reg.No','Name','Marks(%)'],index=[1,2,3])

   Reg.No   Name  Marks(%)
1    1000  Steve      86.5
2    1001  Brian      76.6
3    1002  Stacy      56.5

In [ ]:
#You can also create dataframe using dictionary
import pandas as pd

data={'Reg.No':[1000,1001,1002],
      'Name':['Steve','Brian','Stacy'],
      'Marks(%)':[86.5,76.6,56.5]}

pd.DataFrame(data)

   Reg.No   Name  Marks(%)
0    1000  Steve      86.5
1    1001  Brian      76.6
2    1002  Stacy      56.5

In [ ]:
#Importing a CSV file and writing to a CSV

import pandas as pd
a=pd.read_csv("C:/Users/bomayio/Downloads/Debits (6).csv")
a.to_csv("C:/Users/bomayio/Downloads/Test.csv") #creating a new file
a.shape # to know the number of rows and columns
a.head() #see the first 5 observations
a.tail() #see the last 5 observations
a.head(2) # display first two observations
a.dtypes # know data types associated to each row and column
a.info() #returns a concise summary about the dataframe

In [ ]:
import pandas as pd

sma_data=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

#What is the shape of dataframe
sma_data.shape

#How many entries are in the dataframe
#Get data type of different columns
sma_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
 9   crime_rate      99 non-null     float64
dtypes: float64(5), int64(5)
memory usage: 7.9 KB