<a href="https://colab.research.google.com/github/kiboma2021/5-Week-Data-Science-Bootcamp/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
this_series=[12,23,1,34,12,"test"]
pd.Series(this_series)

0      12
1      23
2       1
3      34
4      12
5    test
dtype: object

In [3]:
# You can also create your own series using a dictionary

import pandas as pd

dic_series={'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9}
pd.Series(dic_series)

one      1
two      2
three    3
four     4
five     5
six      6
seven    7
eight    8
nine     9
dtype: int64

In [4]:
#CREATING A DATA FRAME
import pandas as pd

data=[[1000,"Steve",86.5],
      [1001,"Brian",76.6],
      [1002,"Stacy",56.5]  
      ]
pd.DataFrame(data,columns=['Reg.No','Name','Marks(%)'],index=[1,2,3])

   Reg.No   Name  Marks(%)
1    1000  Steve      86.5
2    1001  Brian      76.6
3    1002  Stacy      56.5

In [5]:
#You can also create dataframe using dictionary
import pandas as pd

data={'Reg.No':[1000,1001,1002],
      'Name':['Steve','Brian','Stacy'],
      'Marks(%)':[86.5,76.6,56.5]}

pd.DataFrame(data)

   Reg.No   Name  Marks(%)
0    1000  Steve      86.5
1    1001  Brian      76.6
2    1002  Stacy      56.5

In [9]:
#Importing a CSV file

import pandas as pd
pd.read_csv("/home/kiboma/Downloads/Scheme-2022-02-22.csv")

FileNotFoundError: ignored